# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
**/.vs/

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
obj/
bin/
develop-eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff (nếu có)
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.*
.envrc
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Logs
*.log
*.logs

# Odoo specific
*.pyc
*.pyo
*.swp
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.vscode/
*.db
*.db-journal
*.sql.gz
*.zip
*.tar.gz
odoo/addons/*/static/*/lib/

/BIDVService/TemplateTemp
/BIDVService/TempFile
/BIDVService/obj
/BIDVService/FileUpload
/BIDVService/ExportFile
/BIDVService/ExportExcelFile
/BIDVService/export
/BIDVService/bin

